@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-ternaria: #22D4FD;
  --cor-hover: #272727;
  --main-font: "Krona one", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}


* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  box-sizing: border-box;
}

.apresentacao {
  margin-top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.apresentacao__conteudo {
width: 615px;
display: flex;
flex-direction: column;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--main-font);
  margin-bottom: 16px;
}
.apresentacao__conteudo__texto {
font-size: 1.5rem;
font-family: var(--heading-font);
font-weight: 400;
}

.titulo-links {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}
.apresentacao__links {
  align-items: center;
  margin:10%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  flex-direction: column;
  gap: 32px;
  
}



.apresentacao__links__subtitulo {
  font-family: var(--heading-font);
  font-weight: 400;

}
.apresentacao__links__link {
  background-color:var(--cor-primaria);
  border: 1px solid var(--cor-ternaria);
  width: 140px;
  padding: 16px;
  color: var(--cor-secundaria);
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  font-family: var(--heading-font);
  font-weight: 500;
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
  }

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.titulo-destaque {
  color:var(--cor-ternaria);
}

img {
  width: 490px;
  height: 500px;
  border-radius: 20px;
}

.imagens {
position: relative;
width: 490px;
height: 500px;

}

.imagens::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid var(--cor-ternaria);
  border-radius: 20px;
  top: -20px;
  left: 10px;ƒ
  z-index: -1;
  
}

.nav-bar {
  margin-top: 65px;
  margin-left: 160px;
  display: flex;
  gap: 60px;
}

.nav-bar__links {
  
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.25 rem;
  color: var(--cor-ternaria);
}

.sobremim__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--main-font);
  margin-bottom: 16px;
}

.sobremim__conteudo__texto {
  padding-right: 30px;
  font-size: 1.25rem;
font-family: var(--heading-font);
font-weight: 400;
}


footer {
background-color: var(--cor-ternaria);
height: 80px;
margin-top: 60px;

.footer_texto {
  padding: 30px;
  text-align: center;
  font-family:var(--heading-font);
  font-weight: 400;
  font-size: 1.25rem;
color: var(--cor-primaria);
}